<div class="backdrop" [ngClass]="{ show: currentName }"></div>
<ul class="list-group sidebar">
  <li
    *ngFor="let category of categories; let i = index"
    class="list-group-item dropdown pointer"
    [ngClass]="{ show: category.name === currentName }"
  >
    <a class="category-name nav-link dropdown-toggle pointer"> </a>
    <ul
      class="dropdown-menu"
      [ngClass]="{ show: category.name === currentName }"
    >
      <li
        class="subCatName dropdown-item pointer"
        *ngFor="let subCategory of category.subCategories"
      >
        <a class="subCat"></a>
      </li>
    </ul>
  </li>
</ul>
