<div class="product-list-box -basket">
  <div class="inner-col description-col">
    <div class="product-img">
      <img class="product-picture" />
    </div>
    <div class="product-desc">
      <h4 class="product-name col-title mb-2"></h4>

      <p class="mb-0 mt-2 d-inline-block d-md-none">
        <strong class="price-text">€</strong>
      </p>
    </div>
  </div>
  <div class="default-col inner-col flex-col justify-content-center">
    <div class="counter">
      <button class="count-decrement" type="button">
        <img src="/assets/icons/icon-minus-circle-outlined.svg" alt="minus" />
      </button>
      <span class="counter__value"></span>
      <button class="count-increment" type="button">
        <img src="/assets/icons/icon-plus-circle-outlined.svg" alt="plus" />
      </button>
    </div>
  </div>
  <div class="default-col inner-col flex-col justify-content-center">
    <div>
      <h4 class="total mb-0">€</h4>
    </div>
  </div>
</div>
