<main role="main">
  <div class="backdrop"></div>
  <div class="container">
    <div class="row flex-column-reverse flex-lg-row">
      <ngx-shop-side-menu
        class="col-lg-3"
        [categories]="categories"
      ></ngx-shop-side-menu>
      <ngx-shop-banner class="col-lg-9" [items]="items"></ngx-shop-banner>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-9">
        <h3 class="section-title">Рекомендации для Вас</h3>
        <div class="row homepage-cards">
          <div
            class="col-md-6 col-lg-4 mb-4"
            *ngFor="let product of suggestedProducts"
          >
            <ngx-shop-product-card [product]="product"></ngx-shop-product-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

